.uspBox {
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #000000; 
  margin-left: calc( -100vw / 2 + 100% / 2 ) !important;
  margin-right: calc( -100vw / 2 + 100% / 2 ) !important;
  max-width: 100vw !important;
  width: 100vw !important;
  overflow: hidden;
  h3 {
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    max-width: 620px;
    margin: 0rem auto;
    padding: 4rem 2rem 0;
    box-sizing: border-box;
    @media only screen and (max-width: 768px) {
      padding-top: 2rem;
      font-size: 24px;
      max-width: 600px;
    }
    @media only screen and (min-width: 2550px) {
      font-size: calc(32px + ( 32 - 16) * ((100vw - 300px) / (3840 - 300)));
    }
  }
  .items {
    max-width: 860px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    margin-top: 1rem;
    @media only screen and (max-width: 768px) {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 2rem;
       margin: 0;
    }
    @media only screen and (min-width: 2550px) {
      max-width: 1280px;
    }
    .item {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      box-sizing: border-box;
      @media only screen and (max-width: 768px) {
        margin-bottom: 0rem;
        padding: 0;
      }
      &:last-of-type {
        @media only screen and (max-width: 768px) { 
          margin-bottom: 0; 
        }
      }
      p {
        margin: 0;
        font-family: 'DINPro', sans-serif;
        text-align: center;
        line-height: 1.1;
        margin-top: 15px;
        hyphens: none;
        font-size: 18px;
        @media only screen and (min-width: 2550px) {
          font-size: calc(24px + ( 24 - 16) * ((100vw - 300px) / (3840 - 300)));
        }
        @media only screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 1.2;
          max-width: 360px;
          text-align: center;
          margin: 1rem auto;
        }
      }
      img {
        width: 100%!important;
        height: 150px!important;
        object-fit: contain!important;
        position: relative!important;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    padding-top: 2rem;
  }
} 
 