.referenzenBox {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
  background: #000000;
  color: #ffffff;
  position: relative;
  margin-left: calc( -100vw / 2 + 100% / 2 ) !important;
  margin-right: calc( -100vw / 2 + 100% / 2 ) !important;
  max-width: 100vw !important;
  width: 100vw !important;
  overflow: hidden;
  transition: background-color 2.5s ease;
} 

.referenzenWrapper h3 {
  font-size: calc(52px + (21 - 14) * ((100vw - 300px) / (1920 - 300)));
  font-family: 'DINPro', sans-serif;
  letter-spacing: 1px;
  max-width: 715px;
  margin-bottom: 25px;
  line-height: 1; 
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  box-sizing: border-box;
  hyphens: none;
}

.referenzenWrapper h3::before {
  content: url('/images/icon.svg');
  width: 120px;
  height: 68px;
  margin-bottom: 0rem;
  transform: scale(0.6) translateX(-2rem);
}

.referenzenItems {
  position: relative;
  margin-top: 6rem;
}

.referenzenItemsElements {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(3, 33.333%);
  gap: 0.5rem;
  padding-top: 1rem;
  box-sizing: border-box;
}

.referenzenItem {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.referenzenItem img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.referenzenItem p {
  font-family: 'DINPro', sans-serif;
  font-size: 21px;
  margin-left: 2rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 2550px) {
  .referenzenItem p { 
    font-size: calc(21px + ( 21 - 16) * ((100vw - 300px) / (3840 - 300)));
  }
}

.referenzenNavs {
  display: flex;
  position: absolute;
  right: 2rem;
  top: -3.5rem;
}

img.referenzenButton {
  transform: rotate(180deg);
  width: 50px; 
  cursor: pointer;
}

img.referenzenButton:last-of-type { 
  transform: rotate(0deg);
}

.referenzenContent {
  margin-top: 4rem; 
  padding-left: 6rem;
  box-sizing: border-box;
  max-width: 840px;
}

.referenzenContent h2 {
  hyphens: none;
  max-width: 600px;
} 

.referenzenContent h3 {
  font-family: 'DINPro', sans-serif;
  margin: 0;
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 25px;
  hyphens: none;
}
.referenzenContent p {
  font-family: 'Avenir', sans-serif;
  line-height: 1.6;
  font-size: 21px;
  hyphens: none;
  margin-bottom: 1rem;
}
.referenzenContent p:last-of-type {
  margin-bottom: 0;
}
.referenzenContent p > a {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  overflow: hidden;
  border-radius: none;
  padding: 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3rem 0 3rem;
  font-size: 16px;
  z-index: 9999;
  cursor: pointer;
  position: relative;
  bottom: 7%;
  left: 0%;
  width: fit-content;
  margin-bottom: 0;
}

.referenzenContent p > a::after {
  content: url("/images/icon.svg");
  transform: scale(0.3);
  margin-left: 15px;
  height: 25px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.referenzenContent p > a:hover::after {
  transform: scale(0.3) rotate(180deg);
  justify-content: flex-end;
}

@media only screen and (min-width: 2550px) {
  .referenzenContent h2,
  .referenzenContent { 
    max-width: 1280px;
  }
  .referenzenContent h3 { 
    font-size: calc(34px + (21 - 14) * ((100vw - 300px) / (1920 - 300))); 
  }
  .referenzenContent p { 
    font-size: calc(21px + (21 - 14) * ((100vw - 300px) / (1920 - 300))); 
  }
  .referenzenContent p > a {
    font-size: calc(21px + 7 * (100vw - 300px) / 1620);
  }
}
@media (max-width: 768px) {
  .referenzenContent {
    margin-top: 4rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 650px;
  }
  .referenzenWrapper h3 { 
    padding-left: 2rem;
    font-size: 32px;
    line-height: 1.15;
    margin: 0;
  }
  .referenzenItems { 
    margin-top: 6rem;
  }
  .referenzenWrapper h3::before {
    margin-bottom: 0rem;
    transform: scale(0.3) translateX(-9rem);
    height: 41px;
  }
}
