.form-box {
  width: 100%;
  height: 100%;
  padding: 4rem 0rem 5rem;
  box-sizing: border-box;

  h2 {
    z-index: 90;
    position: relative;
    font-size: 24px;
  }

  p {
    font-family: 'Avenir', sans-serif;
    font-weight: 200;
    font-size: 28px;
    color: rgb(0, 199, 0);
  }

  .wrapper {
    display: flex;
    width: 100%;
    margin-top: 3rem;

    form {
      display: grid;
      max-width: 500px;
      width: 40%;
      font-family: 'DINPro', sans-serif;
      background: #ffffff;
      padding: 2rem;
      margin-top: 0;
      border-radius: 25px;
      color: #000000;
      label {
        font-size: 14px;
        line-height: 1.2;
        &.marketingCheckbox {
          display: grid;
          grid-template-columns: 30px 1fr;
          margin-bottom: 1rem;
          input {
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
            transform: translateY(4px); 
          }
          a {
            display: inline-block;
            z-index: 100;
            cursor: pointer;
            grid-column-start: 2;
          }
        }
      }
      input {
        font-family: 'DINPro', sans-serif;
        padding: 5px; 
        border-color: transparent;
        margin-top: 0.4rem;
        margin-bottom: 1rem;
        background: #efefef;
        font-size: 16px;
        &#email {
          background: #efefef;
        }
        &:focus-visible {
          outline: none;
        }
        
      }
      textarea {
        font-family: 'DINPro', sans-serif;
        height: 100px;
        padding: 10px 15px;
        margin-top: 0.4rem;
        margin-bottom: 1rem;
        background: #efefef; 
        border: none;
        font-size: 16px;
        line-height: 1.2;
        &:focus-visible {
          outline: none;
        }
      } 
      button {
        background-color: transparent;
        border: 1px solid #000000;
        color: #000000;
        overflow: hidden;
        border-radius: none;
        padding: 1rem;
        box-sizing: border-box;
        text-transform: uppercase;
        font-family: "Avenir", sans-serif;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: -moz-fit-content;
        width: fit-content;
        margin: 2rem 0 0rem;
        font-size: 16px;
        z-index: 9999;
        cursor: pointer;
        position: relative;
        bottom: 7%;
        left: 0%;
        width: fit-content;
        margin-bottom: 0;
        &::after {
          content: url("/images/icon.svg");
          transform: scale(0.3);
          margin-left: 15px;
          height: 25px;
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        &:hover {
          &::after {
            transform: scale(0.3) rotate(180deg);
            justify-content: flex-end;
          }
        }
      } 
      .error-messages {
        color: red;
      }
      @media only screen and (max-width: 768px) {
        max-width: 100%;
        width: 100%;
      }  
    } 

    .contact {
      width: 60%;
      margin-left: 6rem;
      h3 {
        font-size: 42px;
        max-width: 450px;
      }
      h4 {
        margin-top: 3rem;
        margin-bottom: 1rem;
      }
      p {
        color: #ffffff;
        margin-top: 1rem;
        max-width: 500px;
        @media only screen and (max-width: 768px) {
          max-width: 100%;
        }
      }
      .contact-person {
        margin-top: 2rem;
        p {
          color: #ffffff;
          font-size: 28px;
          line-height: 1.2;
          margin-bottom: 0;
          margin-top: 5px;
        }
        
      }
      .contact-kosten { 
        p {
          font-size: 18px;
          @media only screen and (max-width: 768px) {
            max-width: 540px;
          }
        }
        .cta-button {
          background-color: transparent; 
          color: #ffffff; 
          text-transform: uppercase;
          font-family: "Avenir", sans-serif; 
          font-size: 16px; 
          margin-top: 2rem;
          display: block;
          border-bottom: 1px solid #ffffff;
          padding-bottom: 10px;
          box-sizing: border-box;
          display: inline-block;
        }
      }
      @media only screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 2rem;
        width: 100%;
      }
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}