html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('/fonts/DINPro-Bold.woff2') format('woff2'),
      url('/fonts/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 80px;
  font-family: 'DINPro', sans-serif;
  letter-spacing: 1px;
  max-width: 715px;
  margin-bottom: 25px;
  margin-top: 0;
  line-height: 1;
/*   word-break: break-word;
  hyphens: auto; */
}

h2 {
  font-size: 42px;
  font-family: 'DINPro', sans-serif;
  letter-spacing: 1px;
  max-width: 715px;
  margin-bottom: 25px;
  margin-top: 0;
  line-height: 1;
  word-break: break-word;
  hyphens: auto;
}
h3 {
  margin: 25px 0 0;
}
p.subline {
  margin-top: 35px;
  font-size: 26px;
  line-height: 1.2;
  font-family: 'Avenir', sans-serif;
  word-break: break-word;
  hyphens: none;
  font-style: italic;
}

p {
  font-size: 21px;
  line-height: 1.5;
  word-break: break-word;
  hyphens: auto;
  margin: 0;
  font-family: 'Avenir', sans-serif;
}

a {
  font-family: 'DINPro', sans-serif;
  font-weight: 200;
}

nav {
  position: fixed;
  top: 2rem;
  right: 6rem;
  z-index: 10;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  color: #ffffff;
  margin-right: 15px;
  font-family: 'DINPro', sans-serif;
  cursor: pointer;
}

nav ul li.aktion {
  color: #7DF2F3;
}

nav ul li:last-of-type {
  margin-right: 0;
}

a.cta-button {
  border: 1px solid #7DF2F3; 
  overflow: hidden;
  border-radius: none;
  padding: 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'Avenir', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-top: 2rem;
}

a.cta-button::after {
  content: url('/images/icon.svg');
  transform: scale(0.3);
  margin-left: 15px;
  height: 25px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

a.cta-button:hover::after {
  transform: scale(0.3) rotate(180deg); /* Add rotation on hover */
  justify-content: flex-end;
}

 
.swiper { 
  overflow: hidden!important;
  width: 100%!important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-width: 1440px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px; 
    word-break: none;
    hyphens: none;
  }
  nav {
    position: fixed;
    top: 0rem;
    right: 0rem;
    z-index: 2;
    background: black;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%; 
  }
  nav ul {
    justify-content: space-around;
  }
  p.subline {
    margin-top: 10px;
    font-size: 21px;
  }
}