html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('/fonts/DINPro-Bold.woff2') format('woff2'),
      url('/fonts/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 50px;
  font-family: 'DINPro', sans-serif;
  letter-spacing: 1px;
  max-width: 715px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1;
/*   word-break: break-word;
  hyphens: auto; */
  @media only screen and (min-width: 2550px) {
    max-width: 1024px;
    font-size: calc(50px + ( 50 - 16) * ((100vw - 300px) / (3840 - 300)));;
  }
  @media (max-width: 1440px) {
    font-size: 60px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 28px; 
    line-height: 1.15;
    word-break: none;
    hyphens: none;
  }
}

h2 {
  font-size: 42px;
  font-family: 'DINPro', sans-serif;
  letter-spacing: 1px;
  max-width: 620px;
  margin-bottom: 25px;
  margin-top: 0;
  line-height: 1.2;
  word-break: break-word;
  hyphens: none;

  @media only screen and (min-width: 2550px) {
    font-size: calc(42px + ( 42 - 16) * ((100vw - 300px) / (3840 - 300)));
    max-width: 1024px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 21px; 
    hyphens: none;
  }
}
  
h3 {
  margin: 25px 0 0;
  @media only screen and (max-width: 768px) {
    font-size: 32px; 
    hyphens: none;
  }
}
 
p {
  font-size: 21px;
  line-height: 1.4;
  word-break: break-word;
  hyphens: none;
  margin: 0;
  font-family: 'Avenir', sans-serif;

  &.subline {
    margin-top: 0;
    font-size: calc(26px + (21 - 14) * ((100vw - 300px) / (1920 - 300)));
    line-height: 1.2;
    font-family: 'Avenir', sans-serif;
    word-break: break-word;
    hyphens: none;
    font-style: italic;
    max-width: 700px;
    
    @media only screen and (max-width: 1280px) {
      max-width: 680px;
    }
    @media only screen and (max-width: 768px) {
      margin-top: 10px;
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 2550px) {
    font-size: calc(21px + ( 21 - 16) * ((100vw - 300px) / (3840 - 300)));
  }
  @media only screen and (max-width: 768px) {
    font-size: 18px; 
  }
} 

a {
  font-family: 'DINPro', sans-serif;
  font-weight: 200;
}

ul {
  margin: 2rem 0 3rem;
  display: inline-block;
  padding: 0;
  li {
    list-style: none;
    font-family: "Avenir", sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.3;
    display: flex;
    margin-bottom: 15px;
    max-width: 95%;
    display: grid;
    grid-template-columns: 30px 1fr;
    &::before {
      content: url("/images/check.svg");
      width: 20px;
      height: 20px; 
      display: block; 
      transform: translateY(5px);
    }
    @media only screen and (min-width: 2550px) {
      font-size: calc(21px + ( 21 - 16) * ((100vw - 300px) / (3840 - 300)));
    }
    @media only screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 1.3;
    }
  }
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #000000;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 768px) {
    position: fixed;
    top: 0rem;
    right: 0rem;
    z-index: 2;
    background: black;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%; 
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 2rem;
    align-items: center;

    @media only screen and (max-width: 768px) {
      justify-content: space-around;
    }

    li {
      list-style: none;
      color: #ffffff;
      margin-right: 15px;
      font-family: 'DINPro', sans-serif;
      font-size: 18px;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      line-height: 1;
      margin-bottom: 0;
     
      &::before {
        display: none;
      }
      &:hover {
        color: #61cdcd; 
      }
      &.aktion {
        background: rgb(125, 11, 50);
        position: absolute;
        right: 0;
        padding: 1.2rem;
        top: 0;
        a {
          color: #ffffff;
          margin-right: 0;
          @media only screen and (max-width: 1280px) {
            margin-bottom: 0!important;
          }
        }
        &:hover {
          color: #ffffff; 
          background-color: rgb(5, 71, 60); 
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
      a {
        list-style: none;
        color: #ffffff;
        margin-right: 15px;
        font-family: 'DINPro', sans-serif;
        font-size: 18px;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        line-height: 1;
        &:hover {
          color: #61cdcd;
        }
      }
      &.whatsapp {
        background: transparent;
        position: absolute;
        padding: 1.2rem;
        top: 0;
        right: 156px;
        padding: 0;
        @media only screen and (max-width: 768px) { 
          top: auto;
          bottom: 0;
          right: 0;
          left: auto; 
          margin-right: 0;
          
        }
        a {
          display: flex;
          align-items: center;
          margin-right: 0;
          overflow: hidden;
          color: #ffffff;
          &::after {
            content: url("/images/whatsapp.svg");
            height: 100%;
            width: 65px;
            margin-left: 20px;
            background: rgb(5, 71, 60);
            padding: 0.8rem;
            box-sizing: border-box;
          }
          @media only screen and (max-width: 768px) {
            font-size: 16px!important;
            margin: 0!important;
          } 
        }
       
      }
     
    }
    
  }
} 

a.cta-button {
  border: 1px solid #7DF2F3;  
  overflow: hidden;
  border-radius: none;
  padding: 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-top: 2rem;

  &::after {
    content: url('/images/icon.svg');
    transform: scale(0.3);
    margin-left: 15px;
    height: 25px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
  }
  &:hover::after {
    transform: scale(0.3) rotate(180deg); /* Add rotation on hover */
    justify-content: flex-end;
  }

  @media only screen and (max-width: 768px) {
    max-width: 100%;
    font-size: 18px;
    line-height: 1.3;
    padding: 0.8rem;
    margin-top: 2rem;
  }
  @media only screen and (min-width: 2550px) {
    font-size: calc(21px + (21 - 14) * ((100vw - 300px) / (1920 - 300)));
  }
}
  
.swiper { 
  overflow: hidden!important;
  width: 100%!important;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #05473C;
  transition: background-color 3s ease;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  padding: 6rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  .content-box {
    width: 100%; 
    margin: 2rem auto 2rem;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1280px) {
      flex-direction: column;
      margin-top: 0;
    }
  }
  
  @media only screen and (max-width: 768px) {
    padding: 2rem;
  }
}

.overlaybox {
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
 
.text-image-box {
  width: 100%;
  height: 100%;
  position: relative; 
  margin-left: calc( -100vw / 2 + 100% / 2 ) !important;
  margin-right: calc( -100vw / 2 + 100% / 2 ) !important;
  max-width: 100vw !important;
  width: 100vw !important;  
  background: #1b1b1b;
  transition: background-color 3s ease;

  .text-image-box-content { 
    width: 100%; 
    margin: 0 auto 0;
    padding-top: 6rem;
    padding-bottom: 6rem; 
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    color: #ffffff;
    padding: 6rem;
    /* max-width: 1200px; */
    
   /*  @media only screen and (min-width: 2550px) {
      max-width: 1920px;
    }
    @media only screen and (min-width: 1920px) {
      max-width: 1680px;
    }
    @media only screen and (max-width: 1360px) {
      max-width: 1200px;
    } */
    @media only screen and (max-width: 1280px) {
      padding: 4rem 6rem;
    }
    @media only screen and (max-width: 768px) {
      padding: 3rem 2rem;
      flex-direction: column;
    } 
  }

  .image-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    img {
      width: 80%;
      height: auto; 
      object-fit: cover; 
      cursor: pointer; 
      z-index: 200;
      transform: translateY(0%); 
      border-radius: 25px;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
      &.icon {
        position: absolute;
        top: -10px;
        right: -20px;
        width: 65px;
        height: auto;
        object-fit: contain;
        border-radius: 0;
      }
    }

   

    @media only screen and (max-width: 768px) {
      margin-top: 3rem;
    }
  }

  .overlaybox {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  
}

.fullwide-image-box {
  width: 100%;
  height: 100%;
  min-height: 900px;
  background-color: #05473C;
  transition: background-color 3s ease;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  padding: 6rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; 
  margin-left: calc( -100vw / 2 + 100% / 2 ) !important;
  margin-right: calc( -100vw / 2 + 100% / 2 ) !important;
  max-width: 100vw !important;
  width: 100vw !important; 

  .image-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: bottom;
    }
    .overlaybox {
      width: 100%;
      height: 100%;
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  .textBox {
    z-index: 10;
    width: 100%;
    height: 100%;
    ul {
      width: 100%;
      max-width: 1080px;
      display: grid;
      grid-template-columns: repeat(4, auto);
      margin-top: 3rem;
      margin-bottom: 3rem;
      grid-gap: 0.5rem;
      gap: 0.05rem;
      @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 100%);
        margin-bottom: 1rem;
        margin-top: 2rem;
        width: 100%;
      }
      li {
        font-size: 18px;
        display: grid;
        grid-template-columns: 35px auto;
        max-width: 100%;
        width: 100%;
        @media only screen and (max-width: 768px) {
          hyphens: auto;
        }
      }
    }
    p {
      max-width: 540px;
      a {
        background-color: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
        overflow: hidden;
        border-radius: none;
        padding: 1rem;
        box-sizing: border-box;
        text-transform: uppercase;
        font-family: "Avenir", sans-serif;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: -moz-fit-content;
        width: fit-content;
        margin: 3rem 0 3rem;
        font-size: 16px;
        z-index: 9999;
        cursor: pointer;
        position: relative;
        bottom: 7%;
        left: 0%;
        width: fit-content;
        margin-bottom: 0;
        @media only screen and (max-width: 768px) {
          max-width: 100%;
          font-size: 18px;
          line-height: 1.3;
          padding: 0.8rem;
          margin-top: 2rem;
        } 
        @media only screen and (min-width: 2550px) {
          font-size: calc(21px + ( 21 - 16) * ((100vw - 300px) / (3840 - 300)));
        }
        &:hover {
          &::after {
            transform: scale(0.3) rotate(180deg);
            justify-content: flex-end;
          }
        }
        &::after {
          content: url("/images/icon.svg");
          transform: scale(0.3);
          margin-left: 15px;
          height: 25px;
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
      @media only screen and (min-width: 2550px) {
        max-width: 980px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    min-height: auto;
    padding: 2rem 2rem 4rem;
  }
}

.wordpress-nextjs {
  width: 100%;
  height: 100%;
  padding: 6rem 6rem;
  box-sizing: border-box;
  max-width: 1400px;
  color: #ffffff;
  margin: 0 auto;
  
  .vergleich {
    max-width: 850px;
    margin: 4rem 0 4rem;
    background: #ffffff;
    color: #000000;
    padding: 2rem 4rem;
    box-sizing: border-box;
    border-radius: 25px;
    .column {
      display: grid;
      grid-template-columns: 100px 1fr 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      margin: 1rem 0;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 15px;
      box-sizing: border-box;
      p {
        font-size: 21px;
        line-height: 1.4;  
        font-family: "Avenir", sans-serif;

         &:nth-child(1) {
          grid-column-start: 1;
          font-size: 18px;
          hyphens: auto;
          @media only screen and (min-width: 2550px) {
            font-size: calc(18px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
          }
         }
         &:nth-child(2) {
          grid-column-start: 2;
          @media only screen and (max-width: 1024px) {
            grid-column-start: 1;
          }
         }
         &:nth-child(3) {
          grid-column: 3;
          @media only screen and (max-width: 1024px) {
            grid-column-start: 2;
          }
         }
         @media only screen and (min-width: 2550px) {
          font-size: calc(21px + (21 - 14) * ((100vw - 300px) / (1920 - 300)));
         }
         @media only screen and (max-width: 768px) {
          font-size: 14px;
         }
      }
      &:first-of-type {
        @media only screen and (max-width: 1024px) {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
        }
        p {
          font-size: 26px;
          line-height: 1.2;  
          font-family: "Avenir", sans-serif;
          margin-bottom: 1rem;
          font-weight: 600;
          &:nth-child(1) {
            grid-column-start: 2;
            @media only screen and (max-width: 1024px) {
              grid-column-start: 1;
              margin-bottom: 0;
            }
          }
          &:nth-child(2) {
            grid-column-start: 3;
            @media only screen and (max-width: 1024px) {
              grid-column-start: 2;
              margin-bottom: 0;
            }
          }
          @media only screen and (min-width: 2550px) {
            font-size: calc(26px + ( 26 - 16) * ((100vw - 300px) / (3840 - 300)))
          }
        }
      }
      @media only screen and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10px;
        margin-bottom: 2rem;
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 0;
      }
      &:last-of-type {
        border-bottom: none;
       @media only screen and (max-width: 1024px) {
        margin-bottom: 0;
       }
      }
    }
    @media only screen and (min-width: 2550px) {
      max-width: 1024px;
    }
    @media only screen and (max-width: 768px) {
      margin: 2rem 0 2rem;
      padding: 1rem;
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 2rem 0rem;
  }
}

.column-text {
  width: 100%;
  height: 100%;
  padding: 4rem 6rem 4rem;
  box-sizing: border-box;
  transition: background-color 3s ease;
  overflow: hidden;
  margin-left: calc(-50vw + 50%) !important;
  margin-right: calc(-50vw + 50%) !important;
  max-width: 100vw !important;
  width: 100vw !important;
  .first-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .first-column {
      display: grid;
      grid-template-rows: repeat(6, auto);
      gap: 0;
    }
    .second-column {
      display: grid;
      grid-template-rows: repeat(6, auto);
      gap: 0; 
    }
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .second-section {
    margin-top: 0rem;
    max-width: 600px;
   
     video {
      width: 100%;
      height: 100%;
      margin-bottom: 2rem;
     }

    p {
      a {
        background-color: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
        overflow: hidden;
        border-radius: none;
        padding: 1rem;
        box-sizing: border-box;
        text-transform: uppercase;
        font-family: "Avenir", sans-serif;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: -moz-fit-content;
        width: fit-content;
        margin: 3rem 0 3rem;
        font-size: 16px;
        z-index: 9999;
        cursor: pointer;
        position: relative;
        bottom: 7%;
        left: 0%;
        width: fit-content;
        margin-bottom: 0;
        &:hover {
          &::after {
            transform: scale(0.3) rotate(180deg);
            justify-content: flex-end;
          }
        }
        &::after {
          content: url("/images/icon.svg");
          transform: scale(0.3);
          margin-left: 15px;
          height: 25px;
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        @media only screen and (max-width: 768px) {
          margin-top: 1.5rem;
        }
        @media only screen and (min-width: 2550px) {
          font-size: calc(21px + 5 * (100vw - 300px) / 3540);
        }
      }
      @media only screen and (max-width: 768px) {
        max-width: 540px;
      }
      @media only screen and (min-width: 2550px) {
        max-width: 800px;
      }
    }

    @media only screen and (max-width: 768px) {
      max-width: 100%;
    }
    @media only screen and (min-width: 2550px) {
      max-width: 1280px;
    }
    
  }
  p {
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 768px) {
    padding: 3rem 2rem 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}